
.MainSidebar__list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
  }
  
  .MainSidebar__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
  }
  
  .MainSidebar__add-folder-button {
    margin: 20px auto;
  }
  .MainSidebar__add-folder-button:hover {
    background-color: #29862e;
    color: white;
  }
  
  .MainSidebar__folder-link {
    border: 1px black solid;
    color: black;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
  }
  .MainSidebar__folder-link:hover {
    color: #FFB72F;
    cursor: pointer;
  }
  
  .MainSidebar__num-notes {
    color: #adadad;
    display: block;
    float: right;
    font-size: 10px;
  }